.footer-page {
    @media screen and(min-width: 1200px) {

        text-align: left;
        align-items: baseline;
        display: flex;
    }

    @media screen and(min-width: 768px) {
        display: flex;
        align-items: baseline;
        flex-wrap: wrap;
        justify-content: space-around;
        row-gap: 60px;
        text-align: center;
    }


    @media screen and(max-width: 480px) {
        text-align: center;
        align-items: center;


    }

}


.page-footer {
    margin-top: 20px;


    // @media screen and(max-width: 767px) {
    //     text-align: center;
    //     align-items: center;
    //     width: 450px;

    // }
}

.footer-link {
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;

    color: var(--primary-text-color-light);
}

.footer-link-mail {
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;

    color: rgba(255, 255, 255, 0.6);
}

.footer-link-tel {
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.footer-list:not(:last-child) {
    margin-bottom: 9px;
}

.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    width: 100%;
    background: #2f303a;
}

.footer-addres {
    @media screen and(min-width: 1200px) {


        display: block;
        align-items: baseline;
        flex-grow: 1;
        text-align: left;

    }

    @media screen and(max-width: 767px) {
        margin-bottom: 60px;
    }

    // @media screen and(-width: 768px) {
    //     display: flex;
    //     flex-wrap: wrap;
    //     justify-content: space-around;

    // }



}

.join {
    @media screen and(min-width:1200px) {
        margin-left: 70px;
        margin-right: 93px;
    }

    @media screen and(max-width: 480px) {
        margin-bottom: 60px;
    }
}

.join-us {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    margin-bottom: 20px;
    color: #ffffff;

    @media screen and(max-width: 767px) {
        // margin-top: 60px;
        text-align: center;
        margin-bottom: 20px;
    }

    // @media screen and(max-width: 1199px) {
    //     text-align: center;

    // }

}

.subscribe-us {
    margin-top: 20px;
}

.join-item {
    display: flex;
    justify-content: center;
    gap: 10px;
}



.join-link {
    @extend %align;
    border-radius: 50%;
    width: 44px;
    height: 44px;
    transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);

    background: rgba(255, 255, 255, 0.1);

    &:hover,
    &:focus {
        background-color: var(--accent-color);
    }
}

.join-icon {
    fill: #ffffff;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}



.form-subscribe {
    @media screen and(min-width: 1200px) {
        display: flex;
        flex-direction: column;
        margin-top: 60px;
    }



    // margin-left: auto;
    // margin-left: auto;
    // 
    @media screen and(min-width: 1200px) {
        margin-left: auto;
        margin-top: 0;
        align-items: flex-start;
    }


}




.subscribe {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 20px;

    color: #ffffff;

    @media screen and(max-width: 1199px) {
        text-align: center;
        margin-bottom: 20px;


    }

    // @media screen and(min-width: 1200px) {
    //     margin-right: auto;
    // }


}

.subscribe-input {


    width: 358px;
    height: 50px;
    padding-left: 16px;
    color: #ffffff;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: #2f303a;


    &:focus {
        outline: none;
    }

    @media screen and (min-width:768px) {
        width: 450px;


    }

    @media screen and (min-width:1200px) {
        width: 358px;
    }
}





.subscribe-submit {
    width: 200px;
    height: 50px;
    background: #2196f3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: transparent;
    margin-left: 12px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    display: inline-flex;
    align-items: center;
    letter-spacing: 0.06em;
    justify-content: center;
    // padding-left: 28px;
    cursor: pointer;
    color: #ffffff;

    @media screen and(max-width: 1199px) {
        margin: 20px auto 0;

        display: flex;
        flex-direction: row;
        // flex-wrap: wrap;
        justify-content: center;
        align-items: center;


        margin-top: 20px;
    }

}




.submit-icon {
    align-self: center;
    fill: #ffffff;
    margin-left: 10px;
}